*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --primary:#348cd4;
    --fontcolor:#4c4c5c;
    --fontcolor2:#6c757d;
    --robot:'Roboto';
}
.f-f{
    font-family: var(--robot);
}
.row{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.w-5{
    width: 5%;
}
.w-15{
    width: 15%;
    padding: 10px;
}
.w-10{
    width: 10%;
    padding: 10px;
}
.w-20{
    width: 20%;
    padding: 10px;
}
.w-15{
    width: 15%;
    padding: 10px;
}
.w-25{
    width: 25%;
    padding: 10px;
}
.w-30{
    width: 30%;
    padding: 10px;
}
.w-33{
     width: 33.33%;
     padding: 10px;
}
.w-35{
    width: 35%;
    padding: 10px;
}
.w-40{
    width: 40%;
    padding: 10px;
}
.w-45{
    width: 45%;
    padding: 10px;
}
.w-50{
    width: 50%;
    /* padding: 10px; */
    padding-left: 20px;
    padding-right: 20px;
}
.w-55{
    width: 55%;
    padding-left: 20px;
}
.w-60{
    width: 60%;
    padding: 10px;
}

.w-70{
    width: 70%;
    padding: 10px;
}
.w-85{
    width: 85%;
    padding: 10px;
}
.w-80{
    width: 80%;
    padding: 10px;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.w-100{
    width: 100%;
    padding: 10px;
}
.padding{
    padding: 30px;
}
.p-0{
    padding: 0;
}

body{
    background-color: #f3f3f3;
}
/* header */


header{
    background-color: var(--primary);
}
.logo1 {
    padding: 0px 20px;
}
.menu i{
    margin-left: 10px;
    color: white;
    padding: 12px;
    font-size: 20px;
}
.search i{
    color: white;
}
.search input{
    border: none;
    border-radius: 30px;
    background-color: transparent;
    padding: 8px 10px;
    color:#FFFFFF1A;
}
.head .search {
    padding: 5px 10px;
    margin-left: 20px;
    width: 250px;
    border-radius: 30px;
    background-color: #ffffff1a;
}
::placeholder{
    color: #ffffffc0;
}
nav li a{
    color: white;
}
nav li i{
    font-size: 20px;
    font-weight: 400;
}
nav li:nth-child(6){
    padding: 20px;
    background-color: #ffffff1a;
    color: white;
}
.sel{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
}
nav select option{
    color: #4c4c5c;
    text-transform: capitalize;
}
.navigation{
    height: 93vh;
    background-color: white;
    padding: 10px;
    font-size: 14px;
    font-family: var(--robot);
    color: var(--fontcolor2);
    text-transform: capitalize;
    
}
.navigation .extrapage ,.navigation .exp {
    padding: 10px;
    transition: all 0.5s;

}
.navigation .exp{
    font-size: 10px;
    /* color: var(--fontcolor2); */
    letter-spacing: .1em;
    opacity: .75;
    text-transform: uppercase;
}
.navigation i{
    margin-right: 10px;
}
.navigation .extrapage:hover{
    color: var(--primary);
    cursor: pointer;
}
.dash {
    color: var(--primary);
}
.dash .bi{
    color: #f36270;
}
.naviga{
    padding: 10px;
    font-size: 10px;
    opacity: .75;
    text-transform: uppercase;
    color: var(--primary);

}
.abstack{
    background-color: white ;
    padding: 12px 18px;
}
.abstack h4{
    color: var(--fontcolor);
    text-transform: capitalize;
    font-size: 18px;
}
.ab-dash{
    font-size: 13px;
    text-transform: capitalize;
}
.ab-dash ul li:first-child a{
    color: var(--fontcolor);
    margin-right: 5px;
}
.ab-dash i{
    margin-right: 5px;
    color: var(--fontcolor2);
}
.ab-dash ul li:last-child{
    color: var(--primary);
    background-color: #9ba6b765;
}

/* content */

.activity{
    background-color: white;
    padding: 14px;
}
.border-radius{
    overflow: hidden;
    border-radius: 50px;
}
.content h5{
    color: #9ba6b7;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1;
    margin-bottom: 8px;
}
.content h3{
    font-size: 24px;
    color: var(--fontcolor);
    margin: 12px 0px 6px 0px;
}
.content p{
    margin-top: 15px;
    color: #3ec396;
    font-size: 14px;
}
.content span{
    font-size: 14px;
    color: #9ba6b7;
    margin-left: 5px;
}
.activity .wallet i{
    margin-top: 5px;
    margin-left: 15px;
    color: #3ec396;
    background-color: #3ec3972A;
    padding: 15px;
    border-radius: 20%;
}
.cost
{
    margin-bottom: 20px;
}
.activity .lock i{
    margin-top: 5px;
    margin-left: 15px;
    color: rgb(79, 189, 233);
    background-color: rgba(79, 189, 233, 0.199);
    padding: 15px;
    border-radius: 20%;
}
.activity .user i{
    margin-top: 5px;
    margin-left: 15px;
    color:#f9bc0b;
    background-color: #f9bd0b2a;
    padding: 15px;
    border-radius: 20%;
}
.activity .red-arrow{
    color: rgba(255, 0, 0, 0.541);
}



/* static */

.static{
    background-color: white;
   
}
.stat{
    padding: 18px 24px;
}
.static h1{
    font-size: 16px;
    color: var(--fontcolor);
}
.w-5 i{
    margin-left: 30px;
    font-size: 16px;
    color: var(--fontcolor);
}
.money{
    background-color:#dddddd7a;
    text-align: center;
}
.income p{
    margin-top: 12px;
    margin-bottom: 6px;
    font-size:13px;
    color: #9ba6b7;
    letter-spacing: 01px;
}
.moneys{
    text-align: center;
    border-top: 1px dashed #dddddd7a;
}
.income h4{
    color: var(--fontcolor);
    font-size: 17.54px;
    margin-bottom: 24px;
}
.income i{
    color: #3ec396;
    margin-right: 10px;
}
.income .bi-arrow-up-right {
    color: #f36270;
}
.income .fa-building-columns,.income .fa-chart-simple{
color: var(--fontcolor2);
}
.avg img{
    height:363px;
}


/* new */

.new{
    padding-left: 10px;   
}
.users{
    background-color: white;
}
.recent{
    background-color: white;
    padding: 18px 24px;
}
.import button,.export button{
    padding: 6px 12px;
    text-transform: capitalize;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.export button:hover{
    background-color: #348cd4e7;
}
.import button{
    color: #313a46e5;
    background-color: #eef2f7;
    transition: all 0.5s;
}
.import button:hover{
    opacity: 0.5;
}
.import i,.export i{
    margin-left: 5px;
}
.export button{
    color: white;
    background-color: var(--primary);
}
.active{
    padding: 6px 0;
    background-color: #eef2f780;
    text-align: center;
}
.active p{
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #4c4c5c;
}
.detail {
    text-transform: capitalize;
    font-size: 14px;
    color: #4c4c5c;
    padding: 10px ;
}
.border{
    border-bottom: 1px solid #6464d423;
}
.detail .avtar img{
    background-color: #e1eef9;
    border-radius: 100%;
    height: 26px;
    width: 26px;
    border: 5px solid rgba(0, 0, 255, 0.11);
}
.detail .avtar p{
    margin-left: 15px;
}
.detail .green{
    color: rgb( 62, 195, 150);
    margin-right: 5px;
    font-size: 10px;
}
.detail .yellow{
    color: #d4a009;
}
.detail .red{
    color: #cf535f;
}
.num{
    color: #9ba6b7;
    font-size: 14px;
    padding-left: 10px;
}
.backfor{
    font-size: 13.6px;
    color:#4c4c5c ;
}
.back ,.foreward,.num1,.num2{
    height: 30px;
    width: 30px;
    border: 2px solid  #82838518;
    display: flex;
     justify-content: center;
     align-items: center;
     font-family: var(--robot); 
     border-radius: 5px;
     font-size: 13px;
}
.back{
    color: #4c4c5c6b;
}
.num1{
    background-color: var(--primary);
    color: white;
}
.border-dash{
    border-bottom: 1px dashed #82838541;
}
.sold
{
    padding-left: 10px;
    height: 41vh;
    overflow-y: scroll;
}
.bag i{
    color: #4fbde9;
    border: 10px solid #4fbde93b;
    border-radius: 100%;
    margin-left: 10px;
}
.sold{

    padding-top: 14px;
}
.contentsold{
    font-size: 14px;
    color: var(--fontcolor);
    font-weight: 400;
}
.fa-rocket{
    color: #348cd4;
}
.contentsold :nth-child(1){
    margin-bottom: 6px;
    transition: all 0.5s;
}
.contentsold :nth-child(1):hover{
    color: #348cd4;
    cursor: pointer;
}
.contentsold :nth-child(3){
  
    font-size: 12px;
    margin-top: 3px;
    padding-bottom: 14px;
}